<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <label for="search"><h4>Search Books</h4></label>
              <input class="form-control" type="text" name="search" id="search" ngModel required>
            </div>
          </div>  
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit" name="submit">Search</button>
            </div>
          </div>  
        </div>
      </form>
    </div>
  </div>
  <hr>

  <!-- <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let book of books">
          <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}" class="img-thumbnail">
          {{ book.volumeInfo.title }}
        </li>
      </ul>
    </div>
  </div> -->

  <div class="row">
    <div class="col-xs-4" *ngFor="let book of books">
      <div class="thumbnail">
        <img *ngIf="!book.volumeInfo.imageLinks" src="https://i.imgur.com/J5LVHEL.jpg" [alt]="book.volumeInfo.title" 
        style="width: 200px; height: 200px; object-fit: cover;">
        <img *ngIf="book.volumeInfo.imageLinks" [src]="book.volumeInfo.imageLinks.thumbnail" [alt]="book.volumeInfo.title" 
        style="width: 200px; height: 200px; object-fit: cover;">
        <div class="caption">
          <p>{{ book.volumeInfo.title }}</p>
        </div>
      </div>
    </div>
  </div>

</div>

















